@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald');

body{
    line-height: 1.5;
    background-color: rgb(233, 185, 207);
}

.courses {
	border: solid 3px purple;
  border-radius: 28px;
	padding: 20px 20px 20px 20px;
	background-color: rgb(240, 208, 223);
	margin-top: 12px;
	margin-bottom: 12px;
	font-family: 'Oswald';
}

.courses h2 {
	margin: 0px 0px 0px 0px;
	border-bottom: solid 1.5px black;
	font-size: 28px;
}

.courses p {
	line-height: 1.75em;
	font-size: 18px;
}

.navul {
  list-style-type: none;
  margin: 0 0 0 196px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: inline-block;
  list-style-type: none;
  justify-content: center;
  list-style-type: none;
  font-weight:bold;
	background-size: auto;
	font-size: 18px;
	font-family: "Open Sans Condensed";
}

header{
	grid-column: 1/2;
	margin-left: 24px;
	margin-top: -16px;
	border-bottom: groove 2px violet;
}

header h1{
	transform: rotate(-90deg);
	position: absolute;
	z-index: 100;
	top:42px;
	left:-112px;
	font-size: 48px;
	color: black;
	font-family: 'Oswald';
}

aside {
	color: black;
	grid-column: 2/4;
	align-self:end;
	font-size: 24px;
	line-height: 1.5;
	padding-left: 60px;
	font-family: 'Open Sans Condensed';
	font-weight:bold;
	padding-bottom: 16px;
	border-bottom: groove 2px violet;
	border-top: groove 2px violet;
}


footer{
	font-weight: bolder;
	font-family: Georgia, serif;
	font-size: small;
	padding:10px;

}


* {
	border: 1px;
	padding: 2px;

}

.container {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	display: grid;
	grid-template-columns: 218px 1fr 200px;

}


img {
	grid-column: 1/2;
	padding-left: 30px;
	border-radius: 15px;
	padding-top: 20px;
}

main {
	grid-column: 1/4;
}

footer {
	grid-column: 1/2;
}

nav {
	grid-column: 2/4;
}

section {
	display: block;
	grid-column: 1/4;
}

aside ul {
	list-style-type: none;
	font-style: italic;
	margin-bottom: 5px;
}



.is-current {
		background-color: grey;
 		color: white;
}



header a{
	display: block;
	position: relative;
}


header h2{
	transform: rotate(-90deg);
	position: absolute;
	z-index: 100;
	top:87px;
	left:-81px;
	font-size: 27px;
	color: black;
}

header h3{
	transform: rotate(-90deg);
	position: absolute;
	z-index: 100;
	top:55px;
	left:-106px;
	font-size: 27px;
	color: black;
}

li {
  float: left;
}

li a, .droptitle {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .droptitle {
  background-color: purple;
}

li.dropdown {
  display: inline-block;
}

.droplist {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.droplist a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.droplist a:hover {background-color: #f1f1f1}

.dropdown:hover .droplist {
  display: block;
}

